/* -------- Fonts -------- */
@font-face { font-family: "techmino-proportional"; src: url('fonts/proportional.otf') }
/* Currently unused, if you want to use it then uncomment the below line */
/* @font-face { font-family: "techmino-monospace"   ; src: url('fonts/monospace.otf') } */

/* -------- Body -------- */
body{
    background-color: transparent;
    color: white;
    background-color: black;
    margin: 0;
    font-family: "techmino-proportional";
    z-index: -2;
}

/* -------- Background -------- */
canvas#bg{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
    background-color: black;
}

/* -------- Header -------- */
header{
    background-color: darkslateblue;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > h1{
    font-size: 1.5rem;
}
header a {
    color: white;
    text-decoration: none;
}
header div.bg-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* -------- Navbar -------- */
nav.navbar{
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 20px;
}

/* -------- Content -------- */
.inner{
    background-color: rgba(0,0,0,0.6);
    margin: 20px;
    border: 1px solid white;
}
.title{ text-align: center }

section.content{
    padding: 0 50px 50px;
}
p{
    text-wrap: wrap;
}

a {
    background-color: transparent;
    color: lime;
    padding: 3px;
    border-radius: 5px;
    transition: 200ms;
}
a:not(header a):hover
{
    background-color: rgba(0,255,0,0.3)
}

/* -------- FAQ -------- */
.question {
    border: 1px solid lime;
    border-radius: 0.4rem;
    transition: 200ms;
    margin-bottom: 1rem;
}
.question-header {
    width: 100%;
    height: min-content;
    padding: 0.5rem 1rem;
    background-color: rgba(0,100,0,0.5);
    border: 0 none transparent;
    color: lime;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.expanded .question-header {
    border-bottom: 1px solid lime;
}
.question-icon-container {
    flex-shrink: 0;
    padding: 0.5rem;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    align-self: center;
    background-color: rgba(0,200,0,0.4);
    border: 1px solid lime;
    border-radius: 0.2rem;
}
.question-icon {
    transition: 200ms;
}
.expanded .question-icon {
    transform: rotate(180deg);
}
.question-title {
    font-size: 1.25rem;
    flex-grow: 1;
    text-align: left;
}

.answer {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: rgba(0,100,0,0.15);
    border: 0 none transparent;
    color: white;
    display: none;
}
.expanded .answer {
    display: block;
}
.expanded .answer img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem 0;
}

.answer-source {
    font-size: 1rem;
    text-align: right;
    color: rgba(255,255,255,0.9);
}

/* -------- Map -------- */
canvas#map{
    width: 100%;
    height: calc(width * 9 / 16);
    border: 1px solid white;
}