.hide-no-script {
    display: none !important;
}
.show-no-script {
    display: block !important;
}

header > div.bg-toggle {
    display: none;
}
canvas#map{
    display: none;
}
.answer {
    display: block !important;
}
.question-icon {
    transform: rotate(180deg);
}