/* #region Fonts */
@font-face { font-family: "techmino-proportional"; src: url('fonts/proportional.otf') }
@font-face { font-family: "techmino-monospace"   ; src: url('fonts/monospaced.otf') }
/* #endregion */

/* #region Body */
body{
    background-color: transparent;
    color: white;
    background-color: black;
    margin: 0;
    font-family: "techmino-proportional";
    z-index: -2;
}

body code {
    font-family: "techmino-monospace";
}
/* #endregion */

/* #region Background */
canvas#bg{
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: black;
}
/* #endregion */

/* #region Header */
header{
    background-color: darkslateblue;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > h1{
    font-size: 1.5rem;
}
header a {
    color: white;
    text-decoration: none;
}
header div.bg-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* #endregion */

/* #region Navbar */
nav.navbar{
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 20px;
}
/* #endregion */

/* #region General content */
.inner{
    background-color: rgba(0,0,0,0.6);
    margin: 20px;
    border: 1px solid white;
}
@media (max-width: 700px) {
    .inner{
        margin: 0;
        border: 0 none transparent;
        border-bottom: 1px solid white;
    }
}

section.content{
    padding: 0 50px 50px;
}
@media (max-width: 700px) {
    section.content{
        padding: 0 10px 10px;
    }
}

p{
    text-wrap: wrap;
}

a {
    background-color: transparent;
    color: lime;
    padding: 3px;
    border-radius: 5px;
    transition: 200ms;
}
a:not(header a):hover
{
    background-color: rgba(0,255,0,0.3)
}
/* #endregion */

/* #region FAQ content */
details.question {
    border: 1px solid lime;
    border-radius: 0.4rem;
    transition: 200ms;
    margin-bottom: 1rem;

    font-size: 1.25rem;
    background-color: rgba(0,100,0,0.15);
    color: white;
}

details.question > summary {
    height: min-content;
    padding: 0.5rem 1rem;
    background-color: rgba(0,100,0,0.5);
    border: 0 none transparent;
    color: lime;
    cursor: pointer;
    font-size: 1.25rem;
    flex-grow: 1;
    text-align: left;
}

details.question > summary::marker {
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    width: 2rem; height: 2rem;
    align-self: center;
    background-color: rgba(0,200,0,0.4);
    border: 1px solid lime;
    border-radius: 0.2rem;
}

/* #region Tags */
    summary .tags {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-size: 0.8em;
        margin-top: 0.5em;
    }
    summary .tags::before {
        content: "Tags: ";
    }

    .tag {
        --tag-color: lime;
        --tag-bg-color: rgba(0,200,0,0.4);
        --tag-logo: "󰁀" /* Z tetromino */

        display: inline-block;
        padding: 0.1rem 0.5rem;

        color: var(--tag-color);
        background-color: var(--tag-bg-color);
        border: 1px solid var(--tag-color);
    }
    .tag::before {
        content: var(--tag-logo) "  ";
    }

    .tag.techmino {
        --tag-color: lime;
        --tag-bg-color: rgba(0,200,0,0.4);
        --tag-logo: "󰁀"; /* Z tetromino */
    }
    .tag.galaxy {
        --tag-color: #978ae7;
        --tag-bg-color: #483d8b44;
        --tag-logo: "󰁄"; /* T tetromino */
    }
    .tag.linux {
        --tag-color: #f1e05a;
        --tag-bg-color: #f1e05a44;
        --tag-logo: "󰂖"; /* console icon */
    }
    .tag.apple {
        --tag-color: #ffffff;
        --tag-bg-color: #ffffff44;
        --tag-logo: "󰂛": /* Apple logo */
    }
    .tag.multiplayer {
        --tag-color: #ff7f00;
        --tag-bg-color: #ff7f0044;
        --tag-logo: "󰂗"; /* Globe icon */
    }
    .tag.error {
        --tag-color: #ff0000;
        --tag-bg-color: #ff000044;
        --tag-logo: "󰂒"; /* X icon */
    }
    .tag.bot {
        --tag-color: #62c2b9;
        --tag-bg-color: #62c2b944;
        --tag-logo: "󰂖"; /* console icon */
    }
/* #endregion */
/* #region Question tag filters */
.faq.show-techmino    details.question:not(.techmino),
.faq.show-galaxy      details.question:not(.galaxy),
.faq.show-linux       details.question:not(.linux),
.faq.show-apple       details.question:not(.apple),
.faq.show-multiplayer details.question:not(.multiplayer),
.faq.show-error       details.question:not(.error),
.faq.show-bot         details.question:not(.bot)
{
    display: none;
}

.faq.hide-techmino    details.question.techmino,
.faq.hide-galaxy      details.question.galaxy,
.faq.hide-linux       details.question.linux,
.faq.hide-apple       details.question.apple,
.faq.hide-multiplayer details.question.multiplayer,
.faq.hide-error       details.question.error,
.faq.hide-bot         details.question.bot
{
    display: none;
}
/* #end */

details.question[open] > summary {
    border-bottom: 1px solid lime;
}

details.question[open] article {
    padding: 0.5rem 1rem;
}
details.question[open] img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem 0;
}
details.question[open] img.center {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
details.question[open] table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;

    /* For scrolling, if the screen's width is too low */
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;

    th {
        border: 1.5px solid #ddd;
        padding: 8px;
        text-align: center;
    };
    tr {border: 0.75px solid #ddd}
    td {
        border: 0.75px solid #ddd;
        padding: 8px;
        text-align: left;
    };
}
details.question[open] table.compact {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
    display: flex;

    td {border: 0px solid #ddd}
}

@media only screen and (max-width: 700px) {
    details.question[open] table.compact {
        /* Inverting/transposing the table */
        tr {
            display: block;
            float: left;
        };
        th, td {
            width: auto !important;
            display: block;
            border: 0px;
        }
        
    }
}

.answer-source {
    font-size: 1rem;
    text-align: right;
    color: rgba(255,255,255,0.9);
}
/* #endregion */

/* #region Map content */
canvas#map{
    width: 100%;
    border: 1px solid white;
}
small.description {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    color: rgba(255,255,255,0.8);
}
/* #endregion */

/* #region Misc */
.hide {
    display: none;
}
.hide-important {
    display: none !important;
}
.show {
    display: block;
}
.show-important {
    display: block !important;
}

.center-text {
    text-align: center;
}
/* #endregion */