/* #region Full-screen elements */
body {
    margin: 0;
    padding: 0;
    font-family: techmino-proportional, sans-serif;
    background-color: transparent;
    color: white;

    --cam-x: 0; --cam-y: 0;
    --cam-zoom: 1;
    --scale-factor: 1;
    --cam-scale: calc(var(--cam-zoom) * var(--scale-factor));

    --min-x: 0; --max-x: 0;
    --min-y: 0; --max-y: 0;
}
main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#edge-display {
    position: fixed;
    top: calc(50vh + 1px * var(--cam-scale) * (var(--cam-y) + var(--min-y)));
    left: calc(50vw + 1px * var(--cam-scale) * (var(--cam-x) + var(--min-x)));
    width: calc(1px * var(--cam-scale) * (var(--max-x) - var(--min-x)));
    height: calc(1px * var(--cam-scale) * (var(--max-y) - var(--min-y)));
    z-index: -1;
    overflow: hidden;
}
/* #endregion */
/* #region Mode */
.mode {
    position: fixed;
    box-sizing: border-box;

    padding: 0;

    --mode-size: 40;
    --mode-x: 0;
    --mode-y: 0;

    --mode-display-size: calc(2px * var(--cam-scale) * var(--mode-size));
    --mode-display-x: calc(50vw + 1px * var(--cam-scale) * (var(--cam-x) + var(--mode-x)) - 0.5 * var(--mode-display-size));
    --mode-display-y: calc(50vh + 1px * var(--cam-scale) * (var(--cam-y) + var(--mode-y)) - 0.5 * var(--mode-display-size));

    --mode-bg-color: #0000004F;
    --mode-border-color: #CCCCCC;

    top: var(--mode-display-y);
    left: var(--mode-display-x);
    width: var(--mode-display-size);
    height: var(--mode-display-size);

    border: calc(0.09 * var(--mode-display-size)) solid;
    border-color: var(--mode-border-color);
    stroke: var(--mode-border-color);

    background-color: var(--mode-bg-color);
    fill: var(--mode-bg-color);
    
    cursor: pointer;
    transition: transform 150ms;
}
.mode::before {
    position: absolute;
    display: block;
    inset: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.mode.selected {
    --mode-border-color: #CFCF03;
}

.mode:hover {
    transform: scale(1.1);
    transform-origin: 50%;
}
.mode:focus {
    outline: none;
}

/* Mode shapes */
.mode[shape="square"] {
    border-radius: 0;
}
.mode[shape="circle"] {
    border-radius: 50%;
}
.mode[shape="circle"]::before {
    background-size: 92.6%;
}
.mode[shape="octagon"], .mode[shape="diamond"] {
    border: none;
    border-radius: 50%;
    background: none;
}
.mode[shape="octagon"]::before, .mode[shape="diamond"]::before {
    background-size: 72.6%;
}

.mode > img {
    position: absolute;
    inset: 0;
    stroke: var(--mode-border-color);
    fill: var(--mode-bg-color);
}

.mode > svg.border {
    position: absolute;
    inset: 0;
    z-index: -1;
}

/* Mode icons */
/* TODO: Add the missing vector icons */
.mode[icon]::before { content: ""; }
.mode[icon="attack"]::before     { background-image: url("/data/img/modeicons/attack.png") }
.mode[icon="backfire"]::before   { background-image: url("/data/img/modeicons/backfire.png") }
.mode[icon="bigbang"]::before    { background-image: url("/data/img/modeicons/bigbang.png") }
.mode[icon="confusion"]::before  { background-image: url("/data/img/modeicons/confusion.png") }
.mode[icon="defend"]::before     { background-image: url("/data/img/modeicons/defend.png") }
.mode[icon="dig_eff"]::before    { background-image: url("/data/img/modeicons/dig_eff.png") }
.mode[icon="dig_sprint"]::before { background-image: url("/data/img/modeicons/dig_sprint.png") }
.mode[icon="dig"]::before        { background-image: url("/data/img/modeicons/dig.png") }
.mode[icon="drought"]::before    { background-image: url("/data/img/modeicons/drought.png") }
.mode[icon="hidden"]::before     { background-image: url("/data/img/modeicons/hidden.png") }
.mode[icon="hidden2"]::before    { background-image: url("/data/img/modeicons/hidden2.png") }
.mode[icon="hidden3"]::before    { background-image: url("/data/img/modeicons/hidden3.png") }
.mode[icon="hidden4"]::before    { background-image: url("/data/img/modeicons/hidden4.png") }
.mode[icon="hidden5"]::before    { background-image: url("/data/img/modeicons/hidden5.png") }
.mode[icon="master_ex"]::before  { background-image: url("/data/img/modeicons/master_ex.png") }
.mode[icon="master"]::before     { background-image: url("/data/img/modeicons/master.png") }
.mode[icon="mess"]::before       { background-image: url("/data/img/modeicons/mess.png") }
.mode[icon="pc"]::before         { background-image: url("/data/img/modeicons/pc.png") }
.mode[icon="rhythm"]::before     { background-image: url("/data/img/modeicons/rhythm.png") }
.mode[icon="round"]::before      { background-image: url("/data/img/modeicons/round.png") }
.mode[icon="solo"]::before       { background-image: url("/data/img/modeicons/solo.png") }
.mode[icon="sprint1"]::before    { background-image: url("/data/img/modeicons/sprint1.png") }
.mode[icon="sprint2"]::before    { background-image: url("/data/img/modeicons/sprint2.png") }
.mode[icon="sprint3"]::before    { background-image: url("/data/img/modeicons/sprint3.png") }
.mode[icon="survivor"]::before   { background-image: url("/data/img/modeicons/survivor.png") }
.mode[icon="zen"]::before        { background-image: url("/data/img/modeicons/zen.png") }

/* Mode ranks */
.mode[rank="1"] { --mode-bg-color: #3366994F; }
.mode[rank="2"] { --mode-bg-color: #99D9A64F; }
.mode[rank="3"] { --mode-bg-color: #D9CC4D4F; }
.mode[rank="4"] { --mode-bg-color: #D980664F; }
.mode[rank="5"] { --mode-bg-color: #D94DCC4F; }
/* #endregion */
/* #region Misc */
.hide {
    display: none;
}
.hide-important {
    display: none !important;
}
.show {
    display: block;
}
.show-important {
    display: block !important;
}

.center-text {
    text-align: center;
}

.indev-warning {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    font-size: calc(var(--scale-factor) * 1em);
    text-align: center;
    color: #ff000077;
    -webkit-user-select: none;
    user-select: none;
}

#crosshair {
    position: fixed;
    z-index: 3;
    top: calc(50vh - 2.5vw);
    left: 47.5vw;
    width: 5vw;
    height: 5vw;
    pointer-events: none;
}

#debug-info {
    color: #fffd;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
/* #endregion */