/* #region Full-screen elements */
body {
    margin: 0;
    padding: 0;
    font-family: techmino-proportional, sans-serif;
    background-color: transparent;

    --cam-zoom: 1;
    --scale-factor: 1;
    --cam-scale: calc(var(--cam-zoom) * var(--scale-factor));
    --cam-x: 0;
    --cam-y: 0;
}
main, canvas#edge-display {
    position: fixed;
    inset: 0;
    overflow: hidden;
}
/* #endregion */
/* #region Mode */
.mode {
    position: fixed;
    box-sizing: border-box;

    --mode-size: 40;
    --mode-x: 0;
    --mode-y: 0;

    --mode-display-size: calc(1px * var(--cam-scale) * var(--mode-size));
    --mode-display-x: calc(50vw + 1px * var(--cam-scale) * (var(--cam-x) + var(--mode-x)) - 0.5 * var(--mode-display-size));
    --mode-display-y: calc(50vh + 1px * var(--cam-scale) * (var(--cam-y) + var(--mode-y)) - 0.5 * var(--mode-display-size));

    top: var(--mode-display-y);
    left: var(--mode-display-x);
    width: var(--mode-display-size);
    height:  var(--mode-display-size);
    border: calc(0.09 * var(--mode-display-size)) solid #CCCCCC;
}
.mode.square {
    border-radius: 0;
}
.mode.circle {
    border-radius: 50%;
}
.mode.octagon {
    border: none;
    border-radius: 50%;
}
.mode.octagon::before {
    content: url('/data/img/icon/octagon.svg');
    display: block;
    width: 100%;
    height: 100%;
    stroke: #CCCCCC;
}
.mode.octagon polygon {
    /* stroke-width: calc(8px * var(--cam-scale)); */
    stroke-width: 20;
}

.mode.selected {
    border-color: #CFCF03;
    stroke: #CFCF03 !important;
}
/* #endregion */
/* #region Misc */
.hide {
    display: none;
}
.hide-important {
    display: none !important;
}
.show {
    display: block;
}
.show-important {
    display: block !important;
}

.center-text {
    text-align: center;
}

.indev-warning {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    font-size: calc(var(--cam-scale) * 1em);
    text-align: center;
    color: #ff000077;
    user-select: none;
}
/* #endregion */