/* -------- Fonts -------- */
@font-face { font-family: "techmino-proportional"; src: url('fonts/proportional.otf') }
@font-face { font-family: "techmino-monospace"   ; src: url('fonts/monospace.otf') }

/* -------- Body -------- */
body{
    background-color: transparent;
    color: white;
    background-color: black;
    margin: 0;
    font-family: "techmino-proportional";
    z-index: -2;
}

/* -------- Background -------- */
canvas#bg{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
}

/* -------- Header -------- */
header{
    background-color: darkslateblue;
    padding: 5px 20px;
}
h1.header{
    font-size:40px;
    margin-bottom: 0px;
}
h4.header{ margin-top: 10px }

/* -------- Navbar -------- */
nav.navbar{
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 20px;
}

/* -------- Content -------- */
.inner{
    background-color: rgba(0,0,0,0.6);
    margin: 20px;
    border: 1px solid white;
}
.title{ text-align: center }
.title-large{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

section.content{
    padding: 0 50px 50px;
}
p{
    text-wrap: wrap;
    font-size: 20px;
}

a{
    background-color: transparent;
    color: lime;
    padding: 3px;
    border-radius: 5px;
    transition: 200ms;
}
a:hover{ background-color: rgba(0,255,0,0.3) }
a.return-404{
    font-size: 40px;
    background-color: transparent;
    color: lime;
    padding: 10px;
    border-radius: 15px;
    transition: 200ms;
}
a:hover{ background-color: rgba(0,255,0,0.3) }

section.map{
    height: 700px;
    padding: 0 50px;
    border: 1px solid white;
}